@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');
*{
  font-family: "Poppins" sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(191, 209, 214);
}
.image {
  position: relative;
  width: 100%;
  background-color: aquamarine;
  padding: 3px;
  margin-bottom: 20px;
  border-radius:  20px 20px 0 0;
}
.image .profile-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  margin: 20px auto;
  border: 3px solid #fff;
}
.profile-card {
  background-color: #eef5f3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 450px;
  width: 300px;
  box-shadow: 0 5x 10px rgba(0, 0, 0, 0.3);
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 15px;
}
.icons{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icons .link {
  margin: 0 10px;
  font-weight: 900;
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
}
.icons .link:hover {
  color:aquamarine;
  background-color: #fff;
  padding: 5px;
  border: 2px solid aquamarine;
}
.actions {
  display: flex;
  gap: 8px;
}
.actions .action-button {
  background-color: aquamarine;
  color: #444;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  margin: 10px auto;
  padding: 5px 10px;
  border: 2px solid #fff;
}
.actions .action-button:hover {
  color: aquamarine;
  background-color: #fff;
  border:  2px solid aquamarine;
}